body, h1, p {
    margin: 0;
    padding: 0;
}
/* Style the navigation bar */
header {
    background-color: #955FB6;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 50px;
}

.logo img {
    width: 40px; /* Set the desired width */
    height: 40px; /* Maintain the aspect ratio */
    padding-right: 50px;
}

.left-nav {
    display: flex; /* Display logo and left navigation items in a row */
    align-items: center; /* Vertically align items */
}

.left-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display left navigation items in a row */
}

.left-nav li {
    margin-right: 10px; /* Adjust the margin */
}

.left-nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    padding: 0px 30px 0px 30px;
}

.left-nav a:hover {
    color: #FFDCED; /* Change the hover color as desired */
    font-family: 'Bebas Neue', sans-serif;
}

.right-nav .button {
    background-color: #FFDCED;
    color: #955FB6; /* Text color matches the navigation background color */
    padding: 3px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Langar', cursive;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); /* Add a box shadow */
}

.right-nav .button:hover {
    background-color: #fff; /* Change the hover background color as desired */
    color: #955FB6; /* Text color matches the navigation background color */
    font-family: 'Langar', cursive;
}

.rectangle{
    width: 100%;
    height: 5px;
    background-color: #594389;
}

.rectangle2{
    width: 100%;
    height: 5px;
    background-color: #965959;
}

.next1 {
    height: 80px;
    background-color: #E48586;
    display: flex; /* Use flexbox to center-align and place elements in a row */
    justify-content: center; /* Horizontally center-align elements */
    align-items: center; /* Vertically center-align elements */
    padding: 5px 20px 5px 20px;
}

.next1 p {
    color: white;
    font-size: 20px;
    text-align: center; /* Center-align text */
}

.next1 button {
    background-color: #FFDCED; /* Set button background color to #FFDCED */
    color: #594389; /* Set button text color */
    font-family: 'Langar', cursive;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: row; /* Reverse the order to have image on the right initially */
    min-height: 82vh;
    flex-wrap: wrap; /* Wrap elements on smaller screens */
}

.text-content {
    background-color: #FDE5EC;
    padding: 50px;
    flex: 1; /* Take up 1 part of the available space */
    order: 2; /* Change the order to 2 for smaller screens (text at the bottom) */
}

.text-content h1 {
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: #F14646;
    margin-top: 40px;
}

.info {
    font-size: 1.5rem;
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'Kadwa', serif;
    color: #39285C;
    text-align: justify;
}

.wants {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #E48586;
    margin-bottom: 20px;
    text-align: justify;
}

input {
    background-color: transparent;
    border: 2px solid #261656;
    width: 96%;
    border-radius: 10px;
    padding: 10px 0px 10px 20px;
    margin-bottom: 10px;
}

.gts {
    width: 100%;
    padding: 10px 15px;
    background-color: #594389;
    color: white;
    border-radius: 5px;
    border: 2px solid #594389;
    margin-left: 0;
}

.image-slider {
    flex: 2; /* Take up 2/3 of the container */
    max-width: 100%;
    overflow: hidden;
    position: relative;
    
}


.mySlides {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center; /* Center the image within the slider */
}

/* Your existing CSS styles */

/* Add styles for the dots */
.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #594389;
}

/* Style the Offers Section */
/* Style the Offers Section */
.offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 100%;
    margin: 0 auto; /* Center the offers section */
    background-color: #E48586;
    padding: 50px 150px;
}

.offer {
    background-color: #FDE5EC;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.offer img {
    max-width: 250px;
    height: 210px;
    border-radius: 10px;
}

.offer h2 {
    font-size: 2rem;
    margin: 10px 0;
    font-family: 'Bebas Neue', sans-serif;
}

.offer p {
    font-size: 1rem;
    color: #555;
    font-family: 'Kadwa', serif;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #F14646;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.back-to-top a {
    text-decoration: none;
    color: #fff;
}

.back-to-top:hover {
    background-color: #594389;
    color: #fff;
}

.about {
   align-items: center;
}

.about-content {
    width: 100%;
    margin: 0 auto;
    background-image: url('https://reporter.rit.edu:8443/sites/pubDir/slideShow/08-16/212-1474-47783801.jpg');/* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff; /* Text color */
    padding: 100px 0; /* Adjust the padding as needed */
}

.about-content h1 {
    font-size: 80px;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: #FF5E5E; /* Red text color */
    -webkit-text-stroke: 1px black; /* Black stroke line (adjust thickness as needed) */
}

.about-content p {
    font-size: 24px;
    font-family: 'Kadwa', serif;
    text-align: center;
    padding:0 450px;
}

.missionvision {
    display: flex;
    justify-content: space-between;
    background-color: #FDE5EC;
}

.mission,
.vision {
    flex: 1;
    text-align: center;
    font-family: 'Kadwa', serif;
    padding: 50px 200px;
}

.mission h2,
.vision h2 {
    font-size: 32px;
}

.mission p,
.vision p {
    font-size: 24px;
}

.join {
    background-image: url('https://www.uopeople.edu/wp-content/uploads/bb-plugin/cache/How-to-Make-Studying-Fun-to-Keep-You-Motivated-landscape.webp'); /* Replace 'your-background-image.jpg' with the image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff; /* Text color */
    padding: 100px 0; /* Adjust the padding as needed */
}

.join h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: black;
}

.join p {
    font-size: 18px;
    font-family: 'Kadwa', serif;
    max-width: 1000px;
    margin: 0 auto;
    color: black;
    margin-bottom: 40px;
}

.join button {
    background-color: #FF5E5E;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Kadwa', serif;
    cursor: pointer;
    border-radius: 5px;
}

.join button:hover {
    background-color: white; /* Change the hover background color as desired */
}

/* Style for the popup container */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Style for the popup content */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EEE8F8; /* Set the background color to violet */
    width: 560px; /* Set the desired width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}

/* Style for the close button */
.close {
    position: absolute;
    right: 10px;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #FDE5EC; /* Set the close button color to pink */
}

.top{
        display: flex;
        align-items: center;
        color: #FDE5EC;
        font-family: 'Kadwa', serif;
        background-color: #955FB6;
        padding: 0px 30px;
        border-radius: 10px 10px 0 0;
        
}

.top img{
        width: 40px; /* Set the desired width */
        height: 40px; /* Maintain the aspect ratio */
        padding-right: 20px;
}

/* Style for labels inside the form */
form label {
    display: block; /* Display labels as block elements */
    text-align: left; /* Align text to the left */
    padding-left: 35px; /* Add 5px of left padding */
    margin: 40px 0 2px 0; /* Add some spacing between labels */
    color: #817373;
}

form input{
    border: 2px solid #39285C;
    background-color: white;
    padding-left: 5px;
    margin: 0 30px;
    width: 500px;
    font-size: 20px;
}

/* Style for the form itself */
form {
    text-align: center; /* You can center-align the form text if needed */

}

.signin-button {
    margin-top: 50px; /* Adjust the vertical spacing as needed */
    text-align: right; /* Align the button to the right within its container */
    background-color:#F09090 ;
    border: 1px solid #4D344C;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style for the forgot password text */
.forgot-password {
    margin-bottom: 50px;
    color: #5D4F73;
    cursor: pointer;
}

/* Style for the body when the login popup is open */
body.popup-open {
    overflow: hidden;
}

.title-image {
    vertical-align: middle; /* Align the image vertically in the middle of the line */
    margin-right: 10px; /* Add some spacing to the right of the image */
}

/* Additional styles can be added to customize the appearance */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns by default */
    grid-gap: 20px; /* Adjust the gap between grid items */
    padding: 40px 160px;
    background-color: #FDE5EC;
}

.grid-item {
    text-align: center;
    padding: 20px;
}

.grid-item h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F14646; /* Change this to your desired button color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 200px;
    font-family: 'Lato', sans-serif;
}

.button-link:hover {
    background-color: #965959; /* Change this to the hover color you prefer */
}

/* Media Queries for responsive design */
@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns when viewport width <= 1200px */
    }
}

@media screen and (max-width: 760px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr); /* Single column for phone mode (viewport width <= 768px) */
    }

    nav {
        flex-direction: column; /* Stack items vertically for small screens */
        text-align: center; /* Center-align text for small screens */
    }

    .logo img {
        padding-right: 30px; /* Remove right padding for the logo */
    }

    .left-nav {
        margin-top: 20px; /* Add margin to separate logo and navigation links */
    }

    .left-nav a {
        padding: 10px 0; /* Adjust padding for better spacing on small screens */
    }

    .right-nav {
        margin-top: 20px; /* Add margin to separate navigation links and buttons */
    }

    .offers {
        grid-template-columns: repeat(1, 1fr) !important; /* Display one item per row for small screens */
        padding: 50px 20px !important; /* Adjust padding for smaller screens */
        gap: 20px !important; /* Adjust gap for smaller screens */
    }

    .mission,
    .vision {
        flex: 1;
        text-align: center;
        font-family: 'Kadwa', serif;
        padding: 50px 20px; /* Adjust the padding for smaller screens */
    }

    .missionvision {
        flex-direction: column; /* Stack elements vertically for smaller screens */
        align-items: center; /* Center-align elements */
    }
}

@media (max-width: 960px) {
    .offers {
        grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
        padding: 50px 20px; /* Adjust padding for smaller screens */
        gap: 20px;
    }

    .image-slider {
        display: none;
    }

    .about p {
        padding:0px;
    }

    .mission,
    .vision {
    padding: 50px 100px;
    }
    
    .join p {
        max-width: 600px;
    }
}