{% extends 'login/base.html' %}
{% load static %}
{% block content %}
    <section class="rectangle2">
    </section>
    
    <section class="grid-container">
        <article class="grid-item">
            <img src="offer.png" alt="Offer 1">
            <h2>Offer 1</h2>
            <a href="offer1.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="offer.png" alt="Offer 2">
            <h2>Offer 2</h2>
            <a href="offer2.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="offer.png" alt="Offer 3">
            <h2>Offer 3</h2>
            <a href="offer3.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="offer.png" alt="Offer 4">
            <h2>Offer 4</h2>
            <a href="offer4.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="offer.png" alt="Offer 5">
            <h2>Offer 5</h2>
            <a href="offer5.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="offer.png" alt="Offer 6">
            <h2>Offer 6</h2>
            <a href="offer6.pdf" download class="button-link">Courses Outline</a>
        </article>
    </section>
{% endblock %}