<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kadwa&family=Langar&family=Lato:wght@100;300&family=REM&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
    <title>Wawawi</title>
    <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="left-nav">
                <div class="logo">
                    <a href="{% url 'main' %}">
                        <img class="logo" src="{% static 'images/logo.png' %}" alt="Wawawi">
                    </a>
                </div>
                
                <ul>
                    <li><a href="{% url 'main' %}#about">ABOUT</a></li>
                    <li><a href="{% url 'main' %}#offers">OFFERS</a></li>
                    <li><a href="{% url 'courses' %}">COURSES</a></li>
                </ul>
            </div>
            <div class="right-nav">
                <a href="#" class="button" onclick="openLoginPopup()">Wi-Learn</a>
            </div>
        </nav>        
    </header>

    <div id="loginPopup" class="popup">
        <div class="popup-content">
            <div class="top">
            <img src="{% static 'images/logo.png' %}" alt="Your Logo">
            <h2>Wawawi</h2>
            <span class="close" onclick="closeLoginPopup()">&times;</span>
             </div>

            <form>
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="signin-button">Sign In</button>
            </form>
            <p class="forgot-password">Forgot Password?</p>
        </div>
    </div>
    
    <section class="rectangle">
    </section>

    <section class="next1">
        <p>Learn now with Wawawi, an interactive learning website for students and professors</p>
        <button>Enroll Now</button>
    </section>

    <section class="rectangle2">
    </section>
    
    <section class="grid-container">
        <article class="grid-item">
            <img src="{% static 'images/offer.png' %}" alt="Offer 1">
            <h2>Offer 1</h2>
            <a href="offer1.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="{% static 'images/offer.png' %}" alt="Offer 2">
            <h2>Offer 2</h2>
            <a href="offer2.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="{% static 'images/offer.png' %}" alt="Offer 3">
            <h2>Offer 3</h2>
            <a href="offer3.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="{% static 'images/offer.png' %}" alt="Offer 4">
            <h2>Offer 4</h2>
            <a href="offer4.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="{% static 'images/offer.png' %}" alt="Offer 5">
            <h2>Offer 5</h2>
            <a href="offer5.pdf" download class="button-link">Courses Outline</a>
        </article>
        <article class="grid-item">
            <img src="{% static 'images/offer.png' %}" alt="Offer 6">
            <h2>Offer 6</h2>
            <a href="offer6.pdf" download class="button-link">Courses Outline</a>
        </article>
    </section>
    
      
    <script src="{% static 'login/js/scripts.js' %}"></script>
</body>
</html>
