<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kadwa&family=Langar&family=Lato:wght@100;300&family=REM&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="left-nav">
                <div class="logo">
                    <img class="logo" src="{% static 'images/logo.png' %}" alt="Your Logo">
                </div>
                <ul>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">OFFERS</a></li>
                    <li><a href="#">COURSES</a></li>
                </ul>
            </div>
            <div class="right-nav">
                <a href="#" class="button">Wi-Learn</a>
            </div>
        </nav>        
    </header>
    
    <div class="rectangle">
    </div>

    <div class="next1">
        <p>Learn now with Wawawi, an interactive learning website for students and professors</p>
        <button>Enroll Now</button>
    </div>

    <div class="rectangle2">
    </div>
    
    <div class="container">
        <div class="image-slider">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="{% static 'images/image1.jpg' %}">
                </div>
                <div class="mySlides fade">
                    <img src="{% static 'images/image2.jpg' %}">
                </div>
                <div class="mySlides fade">
                    <img src="{% static 'images/image3.jpg' %}">
                </div>
            </div>
        </div>
        <div class="text-content">
            <h1>Unlocking Knowledge, One Click at a Time</h1>
            <p class="info">Welcome to Wawawi, your gateway to interactive online learning! Dive into a world of engaging educational experiences that bring subjects to life. Explore, discover, and grow with us as we make learning an exciting adventure.</p>
            <p class="wants">Want to stay informed about our programs?</p>
            <input type="text" placeholder="Email">
            <button class="gts">Subscribe</button>
        </div>
    </div>

    <footer>
        <p></p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
