<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kadwa&family=Langar&family=Lato:wght@100;300&family=REM&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'lms/css/dashboard.css' %}">
    <link rel="icon" href="{% static 'lms/images/logo.png' %}" type="image/png">
    <title>Wawawi</title>
</head>
<body>

<!-- Side Navigation Bar -->
<nav class="sidenav">
    <ul>
        <li>
            <a href="{% url 'lms:dashboard' %}">
                <img class="logo" src="{% static 'lms/images/logo.png' %}" alt="Your Logo">
            </a>
        </li>
        <li>
            <a href="profile.html">
                <i class="fa fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="{% url 'lms:dashboard' %}">
                <i class="fa fa-tachometer"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Courses</span>
            </a>
        </li>
        <li>
            <a href="activities.html">
                <i class="fa fa-calendar"></i>
                <span>Activities</span>
            </a>
        </li>
        <li>
            <a href="{% url 'lms:inbox' %}">
                <i class="fa fa-inbox"></i>
                <span>Inbox</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Section Content -->
<section class="content">
    <div class="header-container">
        <h1 class="db">DASHBOARD</h1>
        <h1 class="wl">Wi-Learn</h1>
    </div>
</section>

<section class="course-creation">
    <h1>Create Course</h1>
    <hr>

    <form id="courseCreationForm" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="form-group">
            {{ form.img.label_tag }}
            {{ form.img }}
        </div>
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.desc.label_tag }}
            {{ form.desc }}
        </div>

        <div class="form-grid-container">
            <div class="form-group">
                {{ form.enrollment_start.label_tag }}
                {{ form.enrollment_start }}
            </div>
            <div class="form-group">
                {{ form.enrollment_end.label_tag }}
                {{ form.enrollment_end }}
            </div>
            <div class="form-group">
                {{ form.course_start.label_tag }}
                {{ form.course_start }}
            </div>
            <div class="form-group">
                {{ form.course_end.label_tag }}
                {{ form.course_end }}
            </div>
            <div class="form-group">
                {{ form.lab_time.label_tag }}
                {{ form.lab_time }}
            </div>
            <div class="form-group">
                {{ form.lab_day.label_tag }}
                {{ form.lab_day }}
            </div>

            <div class="form-group">
                {{ form.lecture_time.label_tag }}
                {{ form.lecture_time }}
            </div>
            <div class="form-group">
                {{ form.lecture_day.label_tag }}
                {{ form.lecture_day }}
            </div>
        </div>
    <hr>
    <div class="button-containers">
        <button class="cancel-button" onclick="discardCourse()">Cancel</button>
        <button class="save-button">Save</button>
        <button class="publish-button">Publish</button>
    </div>
    </form>
</section>

<script src="{% static 'lms/js/dashboard.js' %}"></script>
</body>
</html>
