input[type=password], input[type=email]  {
    margin: 5px;
    width: 100%;
    border-radius: 10px;
}

input[type=submit] {
    border-radius: 10px ;
    width: 100%;
    border-radius: 10px;
}

input:focus {
    border: 3px solid rgb(53, 53, 53);
}

#log_form  {
    display: flex;
    justify-content: center;
    margin: 20%;
    border: 2cap outset beige;
}

#login_form {
   border-radius: 10px;
   border: 5px outset rgb(214, 214, 214);
   padding: 5em;
   
}

.login  {
    margin: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

#login_label {
    justify-content: center;
}
a   {
    float: right;
}

#reg_form  {
    display: flex;
    justify-content: center;
    margin: 20%;
    border: 2cap outset beige;
}

#register_form {
   border-radius: 10px;
   border: 5px outset rgb(214, 214, 214);
   padding: 5em;
   
}

.register  {
    margin: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

#register_label {
    justify-content: center;
}
