body, h1, p {
    margin: 0;
    padding: 0;
}
/* Style the navigation bar */
header {
    background-color: #955FB6;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 50px;
}

.logo img {
    width: 40px; /* Set the desired width */
    height: 40px; /* Maintain the aspect ratio */
    padding-right: 50px;
}

.left-nav {
    display: flex; /* Display logo and left navigation items in a row */
    align-items: center; /* Vertically align items */
}

.left-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display left navigation items in a row */
}

.left-nav li {
    margin-right: 10px; /* Adjust the margin */
}

.left-nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    padding: 0px 30px 0px 30px;
}

.left-nav a:hover {
    color: #FFDCED; /* Change the hover color as desired */
    font-family: 'Bebas Neue', sans-serif;
}

.right-nav .button {
    background-color: #FFDCED;
    color: #955FB6; /* Text color matches the navigation background color */
    padding: 3px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Langar', cursive;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); /* Add a box shadow */
}

.right-nav .button:hover {
    background-color: #fff; /* Change the hover background color as desired */
    color: #955FB6; /* Text color matches the navigation background color */
    font-family: 'Langar', cursive;
}

.rectangle{
    width: 100%;
    height: 5px;
    background-color: #594389;
}

.rectangle2{
    width: 100%;
    height: 5px;
    background-color: #965959;
}

.next1 {
    height: 80px;
    background-color: #E48586;
    display: flex; /* Use flexbox to center-align and place elements in a row */
    justify-content: center; /* Horizontally center-align elements */
    align-items: center; /* Vertically center-align elements */
    padding: 5px 20px 5px 20px;
}

.next1 p {
    color: white;
    font-size: 20px;
    text-align: center; /* Center-align text */
}

.next1 button {
    background-color: #FFDCED; /* Set button background color to #FFDCED */
    color: #594389; /* Set button text color */
    font-family: 'Langar', cursive;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 81.8vh;
}

.text-content {
    flex: 1;
    background-color: #FDE5EC;
    padding: 50px;
}

.text-content h1 {
    margin-bottom: 10px;
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: #F14646;
}

.info{
    font-size: 26px;
    margin-bottom: 20px;
    font-family: 'Kadwa', serif;
    color: #39285C;
    text-align: justify;
}

.wants{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #E48586;
    margin-bottom: 10px;
    text-align: justify;
}

input{
    background-color: transparent;
    border: 2px solid #261656;
    width: 270px;
    border-radius: 10px;
    padding: 10px 15px;
}

.gts{
width: 100px;
padding: 10px;
background-color: #594389;
color: white;
border-radius: 5px;
border: 2px solid #594389;
margin-left: 30px;
}
.image-slider {
    display: flex;
    align-items: center;
    flex: 2;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%; /* Set the slide's height to 100% */
}
